<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>USERs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div>
        <b><a class="navbar-brand" th:text="${userA.username}" style="color: whitesmoke"></a></b>
        <a class="navbar-brand" style="color: #f5f5f5">with roles:</a>
        <a class="navbar-brand" style="color: #f5f5f5"  th:text="${userA.roles}"></a>
    </div>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <a class="nav-link " href="/logout">Logout</a>
            </ul>
        </form>
    </div>
</nav>
<div class="row no-gutters ">

    <div class="col-lg-2 col px-md-6">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>

    <div class="tab-content min-vh-100 col-lg-10" id="v-pills-tabContent">
        <!--        ПАНЕЛЬ АДМИНА-->
        <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" style="background-color: #f3f7f8">
            <div class="min-vh-100 col-lg-12  ">
                <br>
                <h1>Admin panel</h1>

                <div class="card text-center col-lg-12 px-md-2">
                    <ul class="nav nav-tabs card-header-tabs" style="background-color: #f3f7f8">

                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#description">User table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#characteristics">New user</a>
                        </li>

                    </ul>
                    <br>
                    <div class="card-body">
                        <div class="tab-content">
<!--                            Все пользователи-->
                            <div class="tab-pane fade show active" id="description">
                                <h4 class="card-title text-left">All users</h4>
                                <table class="table table-striped">
                                    <tr>
                                        <th>ID</th><th></th>
                                        <th>First Name</th><th></th>
                                        <th>Last Name</th><th></th>
                                        <th>Age</th><th></th>
                                        <th>Email</th><th></th>
                                        <th>Roles</th><th></th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    <tr>
                                        <tbody id="data"></tbody>
                                    </tr>

                                </table>
                            </div>
<!--                            Добавление юзера-->
                            <div class="tab-pane" id="characteristics">
                                <h4 class="card-title text-left ">Add new user</h4>
                                <div class="row">
                                    <div class="col-lg-4 "></div>
                                    <div class="col-lg-3 text-align:center;">
<!--                                        <form th:action="@{/admin}" method="post">-->

                                            <div class="font-weight-bold ">
                                                <d><label for="addName">First Name</label></d>
                                                <input type="text" class="form-control" name="name" id="addName"
                                                       placeholder="First Name">
                                            </div>
                                            <div class="font-weight-bold">
                                                <d><label for="addAddress">Last Name</label></d>
                                                <input type="text" class="form-control" name="address" id="addAddress"
                                                       placeholder="Last Name">
                                            </div>
                                            <div class="font-weight-bold">
                                                <d><label for="addYear">Age</label></d>
                                                <input type="number" class="form-control" value="1" name="year" id="addYear"
                                                       placeholder="Age">
                                            </div>

                                            <div class="font-weight-bold">
                                                <d><label for="addUsername">Email</label></d>
                                                <input type="text" class="form-control" name="username" id="addUsername"
                                                       placeholder="Email">
                                            </div>
                                            <div class="font-weight-bold">
                                                <d><label for="addPassword">Password</label></d>
                                                <input type="text" class="form-control" name="password" id="addPassword"
                                                       placeholder="Password">
                                            </div>

                                            <div class="font-weight-bold">
                                                <label for="addRoles">Role</label>
                                                <select multiple class="form-control" type="text" name="roles" id="addRoles" style="height: 60px;">
                                                        <option text="ROLE_ADMIN"> ROLE_ADMIN</option>
                                                        <option text="ROLE_USER">ROLE_USER</option>
                                                </select>
                                            </div>
                                            <br>
                                        <button onclick="ad()"  type="button" class="btn btn-primary" id="sumbitAdd">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <!--        ПАНЕЛЬ ЮЗЕРА-->
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" style="background-color: #f3f7f8">
            <div class="min-vh-100 col-lg-12">
                <div class="min-vh-100 col-lg-12  ">
                    <br>
                    <h1>User information-page</h1>

                    <div class="card text-center col-lg-12 px-md-2">

                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="description2">
                                    <h4 class="card-title text-left">About user</h4>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Roles</th>
                                        </tr>
                                        <tr>
                                            <td th:text="${userA.id}"></td>
                                            <td th:text="${userA.name}"></td>
                                            <td th:text="${userA.address}"></td>
                                            <td th:text="${userA.year}"></td>
                                            <td th:text="${userA.username}"></td>
                                            <td th:text="${userA.roles}"></td>
                                        </tr>
                                        </th:block>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<!-- Modal1 -->
<div class="modal" id="ModalEdit" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="editBody" class="modal-body">
 <!--                            Реализация модалки редактирования-->
            </div>
        </div>
    </div>
</div>
<!-- Modal2 -->
<div class="modal" id="ModalDelete" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id=deleteBody class="modal-body">
<!--                            Реализация модалки удвления-->
            </div>
        </div>
    </div>
</div>

<!--кнопка добавления-->
<script>
    async function ad(){
        const userByIdURL = `http://localhost:8080/admin`
        console.log('addUser')
        fetch(userByIdURL,{
            method: 'POST',

            body: JSON.stringify({
                name: $('#addName').val(),
                address: $('#addAddress').val(),
                year: $('#addYear').val(),
                username: $('#addUsername').val(),
                password: $('#addPassword').val(),
                roles: $("#addRoles").val()
            }),
            headers: {'Content-type': 'application/json; charset=UTF-8'}
        })
        location.reload();
    }

</script>
<!--кнопка удаления-->
<script>
    async function del(id){
        const userByIdURL = `http://localhost:8080/admin/${id}`
        console.log('deleteUser activated')
        fetch(userByIdURL,{
            method: 'DELETE'
        // }).done(() => {
        //     location.reload();
        })
        location.reload();
    }
</script>
<!--кнопка редактирования-->
<script>
    async function ed(id){
        const userByIdURL = `http://localhost:8080/admin`
        console.log('editUser activated')
        fetch(userByIdURL,{
            method: 'PUT',

            body: JSON.stringify({
                id: id,
                name: $('#edName').val(),
                address: $('#edAddress').val(),
                year: $('#edYear').val(),
                username: $('#edUsername').val(),
                password: $('#edPassword').val(),
                roles: $("#edRoles").val()
            }),
            headers: {'Content-type': 'application/json; charset=UTF-8'}
        })
        location.reload();
        location.reload();
    }
</script>

<!-- все пользователи -->
<script>
    fetch("http://localhost:8080/admin/ad").then(
        res => {
            res.json().then(
                data => {
                    console.log(data);
                    if (data.length > 0) {
                        var temp = "";

                        data.forEach((u) => {
                            temp += "<tr>";
                            temp += "<td>" + u.id + "<td>";
                            temp += "<td>" + u.name + "<td>";
                            temp += "<td>" + u.address + "<td>";
                            temp += "<td>" + u.year + "<td>";
                            temp += "<td>" + u.username + "<td>";
                            temp += "<td>" + u.roles + "<td>";
                            temp += `<td><button onclick="edit(${u.id})" type="button" data-toggle="modal"
                                         class="btn btn-primary" data-target="#ModalEdit">Edit</button></td>`
                              temp += `<td><button onclick="ddelete(${u.id})" type="button" data-toggle="modal"
                                             class="btn btn-danger" data-target="#ModalDelete">Delete</button></td>`
                        })
                        document.getElementById("data").innerHTML = temp;
                    }

                }
            )
        }

    )
</script>

<!--модалка редактирование-->
<script>
    async function edit(id){
        let URL = 'http://localhost:8080/admin/'
        let response = await fetch( URL + id);
        let content = await response.json();
        console.log(content)
        let modal= document.querySelector('#editBody')

        modal.innerHTML=
            ` <div class="row">
                    <div class="col-lg-3 "></div>
                    <div class="col-lg-6 text-align:center;">
                        <div  class="form-group">

                            <div  class="font-weight-bold ">
                                <d><label for="edId">ID</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="id" id="edId"
                                    placeholder="${content.id}" disabled>
                            </div>

                            <div class="font-weight-bold ">
                                <d><label for="edName">First Name</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="name" id="edName"
                                 placeholder="${content.name}">

                            </div>
                            <div class="font-weight-bold">
                                <d><label for="edAddress">LastName</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="address"
                                       id="edAddress"
                                    placeholder="${content.address}">

                            </div>
                            <div class="font-weight-bold">
                                <d><label for="edYear">Age</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="year" id="edYear"
                                    placeholder="${content.year}">

                            </div>
                            <div class="font-weight-bold">
                                <d><label for="edUsername">Email</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="username"
                                       id="edUsername"
                                  placeholder="${content.username}">

                            </div>
                            <div class="font-weight-bold">
                                <d><label for="edPassword">Password</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="password"
                                       id="edPassword"
                                placeholder="${content.password}">

                            </div>

                            <div class="font-weight-bold">
                                <div class="font-weight-bold">
                                    <label for="edRoles">Role</label>
                                    <select multiple
                                            class="form-control"
                                            type="text"
                                            name="roles"
                                            id="edRoles"
                                         placeholder="${content.roles}"
                                          style="height: 60px">
                                                        <option text="ROLE_ADMIN"> ROLE_ADMIN</option>
                                                        <option text="ROLE_USER">ROLE_USER</option>
                                    </select>
                                </div>
                            </div>
                           </div>
                    </div>
                </div>
                <div class=" modal-footer col-md-10 mx-auto" style="float:right;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button onclick="ed(${content.id})"  type="button" class="btn btn-primary" id="buttonEditSubmit">Edit</button>
                </div>`
    }
</script>
<!--модалка удаление-->
<script>
    async function ddelete(id){
        let URL = 'http://localhost:8080/admin/'
        let response = await fetch( URL + id);
        let content = await response.json();
        console.log(content)
        let modal= document.querySelector('#deleteBody')

        modal.innerHTML=
            `<div class="row">
                    <div class="col-lg-3 "></div>
                    <div class="col-lg-6 text-align:center;">
                        <div  class="form-group">


                            <div  class="font-weight-bold ">
                                <d><label for="id">ID</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="id" id="id"
                                    placeholder="${content.id}" disabled>
                            </div>

                            <div class="font-weight-bold ">
                                <d><label for="name">First Name</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="name" id="name1"
                                 placeholder="${content.name}" disabled>

                            </div>
                            <div class="font-weight-bold">
                                <d><label for="address">LastName</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="address"
                                       id="address1"
                                    placeholder="${content.address}" disabled>

                            </div>
                            <div class="font-weight-bold">
                                <d><label for="year">Age</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="year" id="year1"
                                    placeholder="${content.year}" disabled>

                            </div>
                            <div class="font-weight-bold">
                                <d><label for="username">Email</label></d>
                                <input type="text"
                                       class="form-control"
                                       name="username"
                                       id="username1"
                                  placeholder="${content.username}" disabled>

                            </div>


                            <div class="font-weight-bold">
                                <div class="font-weight-bold">
                                    <label for="roles">Role</label>
                                    <select multiple class="form-control" type="text" name="roles" id="roles10" style="height: 60px;" placeholder="${content.roles}" disabled>
                                                        <option text="ROLE_ADMIN"> ROLE_ADMIN</option>
                                                        <option text="ROLE_USER">ROLE_USER</option>
                                    </select>
                                </div>
                            </div>

     </div>
                    </div>
                </div>
                <div class=" modal-footer col-md-12 mx-auto" style="float:right;">
                    <button type="button" id="delete" name="id" value="1" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button onclick="del(${content.id})"  type="button" class="btn btn-danger" id="buttonDeleteSubmit">Delete</button>
                </div>`
    }
</script>

<!-- Optional JavaScript -->
<div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="untitled.js"></script>
</div>
</body>
</html>
